/* src/components/MapView/MapView.css */

#map {
    height: 800px !important; /* Set height to 100% */
    width: 100%;
    /* Other styles */
}

.button {
  background-color: white;
  color: mediumblue;
  border-radius: 7%;
  border: 1px solid mediumblue;
  padding: 10px 20px;
  margin-right: 10px; /* Adjust as needed */
  cursor: pointer;
}

.button.active {
  background-color: peru;
  color: white;
}

.button:hover {
  background-color: mediumblue;
  color: white;
}